* {
	padding:0;
	margin: 0;
}

body {
	color:#666;
	font-family: Arial,sans-serif;
}

nav {
	background: #f5f6f6; /* Old browsers */
	background: -moz-linear-gradient(top,  #f5f6f6 72%, #dddfe3 100%, #f5f6f6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(72%,#f5f6f6), color-stop(100%,#dddfe3), color-stop(100%,#f5f6f6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f5f6f6 72%,#dddfe3 100%,#f5f6f6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f5f6f6 72%,#dddfe3 100%,#f5f6f6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f5f6f6 72%,#dddfe3 100%,#f5f6f6 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f5f6f6 72%,#dddfe3 100%,#f5f6f6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f6', endColorstr='#f5f6f6',GradientType=0 ); /* IE6-9 */
	padding: 5px;
	height: 60px;
}

nav #logo {
	float: left;
}

nav #search {
	position: relative;
	float: left;
	width: 600px;
	height: 30px;
	border: 1px solid black;
	border-radius: 6px;
	margin-top: 10px;
}

nav #search #submit_button {
	position: absolute;
	height: 30px;
	width: 30px;
	top: 0;
	right: 0;
	background-color: #00024d;
}

nav #search #seach_in_select {
	position: absolute;
	left: 0;
	top: 0;
	height: 30px;
	width: 60px;
	border-right: 1px solid black;
}

nav #search #seach_in_select select {
	border: 0;
	outline: 0;
	height: 30px;
	display: block;
	background-color: inherit;
	-webkit-appearance: none;
	-webkit-rtl-ordering: logical;
	-webkit-writing-mode: horizontal-tb;
}

nav #search #search_box {
	position: absolute;
	left: 62px;
	top: 0;
	width: 508px;
	height: 30px;
}

nav #search #search_box input {
	width: 100%;
	height: 30px;
	border: 0;
	background: transparent;
	padding-left: 4px;
	font-size: 20px;
}

nav #search #search_box input:focus {
	outline: none;
}

nav #search #submit_button input {
	border: 0;
	background: 0;
	color: white;
	font-weight: bold;
	font-size: 15px;
	width: 30px;
	height: 30px;
	cursor: pointer;
}

nav #search #submit_button:hover {
	background-color: #0b109b;
}

nav #user {
	float: right;
}

/* Login Box */
#login_box {
	text-align: center;
	position: absolute;
	top:50%;
	left:50%;
	width:350px;
	height:118px;
	margin:-59px 0 0 -175px;
	border:1px solid black;
}

#login_box span {
	width:100%;
}

#login_box input[type=text], #login_box input[type=password] {
	font-size:20px;
	width:90%;
	padding:4px 8px;
	margin:4px auto;
	border:1px solid gray;
}

#login_box #login_post {
	margin:4px auto;
	width:96%;
}

#login_box button {
	font: bold 11px Arial,sans-serif !important;
	color: #444 !important;
	padding:4px 6px 4px;
	border: 2px outset buttonface;
}

#status {
	color:#e2002f;
	font-size:11px;
	float:left;
	padding:3px;
}

#login {
	float:right;
}

/* Button styling */
.submit, input[type=submit] {
	background-color: buttonface;
	border: 1px solid buttonshadow;
	color: buttontext;
	text-decoration: none;
	padding:3px 10px;
}

.submit:hover {
	background-color: buttonhighlight;
}

/* Book listings */
.book_entry {
	width: 50%;
	height: 100px;
	margin: 10px auto;
	background-color: #dadada;
	padding: 7px;
	border-radius: 5px;
	border: 3px solid #c1c1c1;
	position: relative;
}

.book_entry .add_to_cart {
	position: absolute;
	right: 10px;
	bottom: 10px;
}

.book_entry .star {
	position: absolute;
	top: 5px;
	right: 5px;
}

.book_entry .price {
	position: absolute;
	top: 30px;
	right: 10px;
	font-size: 30px;
}

.book_entry .isbn {
	position: absolute;
	top: 30px;
	left: 15px;
}

.book_entry .published {
	position: absolute;
	top: 50px;
	left: 15px;
}

.book_entry .category {
	position: absolute;
	top: 70px;
	left: 15px;
}

.book_entry .length {
	position: absolute;
	top: 90px;
	left: 15px;
}

.book_entry h1 {
	font-size: 16px;
}

.book_entry .quantity {
	position: absolute;
	right: 90px;
	bottom: 11px;
}

/* Shopping cart */
.cart_item {
	width: 50%;
	height: 60px;
	margin: 10px auto;
	background-color: #dadada;
	padding: 7px;
	border-radius: 5px;
	border: 3px solid #c1c1c1;
	position: relative;
}

.cart_item .remove_from_cart {
	position: absolute;
	right: 10px;
	bottom: 10px;
}

.cart_item .quantity_input {
	position: absolute;
	right: 70px;
	top: 7px;
	width: 30px;
}

.cart_item h1 {
	font-size: 16px;
}

.cart_item .update_quantity {
	position: absolute;
	right: 110px;
	top: 7px;
}

.cart_item .price {
	position: absolute;
	right: 10px;
	top: 8px;
	font-weight: bold;
}

#cart_summary {
	width: 50%;
	height: 60px;
	margin: 10px auto;
	position: relative;
}

#cart_summary #total_price {
	position: absolute;
	right: 10px;
	top: 10px;
	font-weight: bold;
}

#cart_summary #checkout {
	position: absolute;
	right: 10px;
	bottom: 0; 
}

.empty_cart {
	width: 50%;
	height: 60px;
	margin: 10px auto;
	text-align: center;
}

/* Popular books styling */
#topBooks {
	width: 1000px;
	margin: 10px auto;
}

.most_rated, .top_rated {
	float: left;
	margin: 0 20px;
	width: 430px;
}

#topBooks .popular_books {
	margin: 10px 0 0 50px;
	font-size: 20px;
}

#topBooks .popular_books li {
	padding: 5px 0;
}

/* Order history styling */
#order_history .order_history_heading {
	text-align: center;
	margin-top: 10px;
}

.order {
	width: 50%;
	height: 70px;
	margin: 10px auto;
	background-color: #dadada;
	padding: 7px;
	border-radius: 5px;
	border: 3px solid #c1c1c1;
	position: relative;
}

.order h1 {
	font-size: 16px;
}

.order .price_summary {
	position: absolute;
	top: 0px;
	right: 20px;
}

.order .price_summary td {
	padding: 0 5px;
}

.order .price_summary td:last-child {
	text-align: right;
}

.order .price_summary tr:nth-last-child(2) td:last-child {
	border-bottom: 1px solid black;
}

.order .order_contents_link {
	position: absolute;
	bottom: 5px;
	left: 5px;
}

/* Order contents styling */
#order_contents .order_contents_heading {
	text-align: center;
}

/* Checkout styling */
#checkout_form {
	width: 450px;
	margin: 0 auto;
}

#checkout_form h1 {
	text-align: center;
	margin-top: 10px;
}


#checkout_form table {
	width: 450px;
}

#checkout_form table td, #checkout_form table td input, #checkout_form table td select {
	padding: 5px;
	font-size: 20px;
}

#checkout_form table td select {
	width: 300px;
}

#checkout_form table td input {
	width: 286px;
}

#checkout_form table td:last-child {
	text-align: right;
}

#checkout_form table tr:last-child td:last-child {
	text-align: right;
}

#order_confirmation {
	width: 400px;
	margin: 10px auto;
	display: none;
	text-align: center;
}

/* Misc Styling */
.button {
	background-color: #666;
	padding: 4px;
	font-size: 12px;
	color: white;
	font-weight: bold;
	text-decoration: none;
	border-radius: 4px;
}

.button_blue {
	background-color: #0000ff;
}

.button_red {
	background-color: #a00000;
}

.button_green {
	background-color: #0b560f;
}

.button:hover {
	background-color: #6666ff;
}